  html,
  body {
      height: 100%;
  }

  .nag {
      top: 30px;
      position: relative;
  }

  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }
  .navbar-inverse .navbar-nav>li>a {
    color: #cfcfcf;
}
.navbar-nav > li{
  padding-left:11px;
  padding-right:11px;
}
  .navbar{
    padding:15px 12px 15px 15px;
    -webkit-transition: all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition: all 0.5s;

  }
.navbar img{
  max-width:55px;
  margin-top:-16px;
}
.cbp-af-header-shrink {
  padding-top: 5px;
  padding-bottom: 5px;
}
  @media screen and (min-width: 768px) {
      .modal-dialog {
          width: 700px;
      }
      .modal-md {
          width: 320px;
      }
  }

  .h3 {
      text-align: center;
  }

  .modal-header,
  h3 {
      background-color: #2c2c2c;
      color: white;
      text-align: center;
      font-size: 30px;
      border-radius: 4px 4px 0px 0px;
  }

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:visited,
.btn-primary:focus {
   border-color: #8064A2;
   background-color: #8064A2;
   outline: none;
  }

  .center {
      text-align: center;
  }

  .span1 {
      font-size: 30px;
      text-align: center;
  }

  h2 {
      text-align: center;
  }

  .opis {
      font-size: 25px;
      color: white;
  }

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.test1 {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.modal-open {
overflow-y: scroll;
padding-right: 0 !important;
}

.bor{
  background-color: rgba(4, 0, 0, 0.5);
  color: white;
  padding: 36px;
  font-size: 25px;
  border-radius: 6px 6px 6px 6px;
}
.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e131";
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 18.5px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.panel > .panel-heading {
    background-color: #8064A2;
    color: white;

}
.test2{
	border-radius:75%;
	background-color:white;
}
label {
    margin-bottom: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}
